*{
    margin: 0;
    padding: 0;
    
}
main{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
section {
    height: 100vh;
    display: flex;
    align-items: center; 
     justify-content: center ;
    background-color: rgb(190, 190, 190);
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    scroll-behavior: smooth;
    margin: 30px;
    transition: left 1s;
    scroll-padding: 
    var(--scrollpadding);
}