*{
    margin: 0;
    padding: 0;
    
}
body{
    overflow: hidden;
}
main{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
section {
    height: 100vh;
    background-color: rgb(190, 190, 190);
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    scroll-behavior: smooth;
    margin: 30px;
    transition: left 1s;
    scroll-padding: 
    var(scrollpadding);
}